
button
{
	font-family: 'Pacifico', cursive;
}
#purpura
{
	background-color: #cb3594;
}

#verde
{
	background-color: #659b41;
}

#amarillo
{
	background-color: #ffcf33;
}

#marron
{
	background-color: #986928;	
}